@model MVCGarage.ViewModels.Shared.DisplayVehiclesVM

@{
    ViewBag.Title = "Parked vehicles";
}

<div class="container">
    <div>
        <div class="header jumbotron">
            <h1>Vehicles currently registered</h1>
            <hr />
            <p>
                These are the Vehicles that are currently parked
                <br />
                or have booked a parking spot
            </p>
        </div>

        <p style="color: white; text-align: center; font-size: 2em;">
            @Html.ActionLink("Register a new Vehicle", "Create", "Vehicles")
        </p>

        @{if (Model.Vehicles.Count() == 0)
            {
                <div class="about-body-text" style="color: white; margin-top: 3em; text-align: center;">
                    <h4>The garage is currently empty!</h4>
                    <hr />
                </div>
            }
            else
            {
                @Html.Partial("_DisplayVehiclesPartial", Model)
            }
        }
    </div>
</div>
