@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="header">
        <h1>Welcome to the Garage!</h1>
        <hr />
        <p><strong>This is where you go to park your car!</strong></p>
    </div>
</div>
