<div ng-app="vehicleTypes" ng-controller="vehicleTypesController">
    <div class="jumbotron" ng-init="getData()">
        <h1>Learning Angular with WebAPI</h1>
        <table>
            <thead>
                <tr>
                    <th>Vehicle type</th>
                    <th>Default fee</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="vehicleType in data track by $index">
                    <td>{{vehicleType.Type}}</td>
                    <td>{{vehicleType.Fee}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <form>
        <div>
            <input type="text" id="name" placeholder="Enter the new vehicle type" ng-model="vehicleType.Type" style="width:450px" />
        </div>
        <div>
            <input type="text" id="age" placeholder="Enter the default fee" ng-model="vehicleType.Fee" style="width:200px" />
        </div>
        <button ng-click="sendData()">Send Data</button>
    </form>
</div>