<div ng-app="vehicleTypes" ng-controller="vehicleTypesController">

    <div class="header jumbotron">
        <h1>Create a Vehicle Type</h1>
        <hr />
        <p>This is where you create a new vehicle type</p>
        <p style="color:red">{{errorMessage}}</p>
    </div>

    <div class="form-horizontal about-body-text" style="color: white; font-size: 1em;">
        <h2 style="text-align:center;">Vehicle Type</h2>
        <hr />

        <form>
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    @Html.Label("Vehicle Type", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="text"
                               class="form-control"
                               id="vehicleType.Type" placeholder="Enter the new vehicle type" ng-model="vehicleType.Type" style="width:450px" />
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Default Fee", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="text"
                               class="form-control"
                               id="vehicleType.Fee" placeholder="Enter the default fee" ng-model="vehicleType.Fee" style="width:200px" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" ng-click="sendData()" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </form>

        <div style="text-align:center; display:block; font-size: 2em; margin-bottom: 3em; color: white;">
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>