@{
    ViewBag.Title = "Vehicle Types";
}

<div ng-app="vehicleTypes" ng-controller="vehicleTypesController">
    <div class="jumbotron header" ng-init="getVehicleTypes()">
        <h1>Vehicle Types</h1>
        <hr />
        <p>This is where you can look at the registered vehicle types.</p>
    </div>

    <p style="font-size: 2em; text-align: center;">
        @Html.ActionLink("Create New", "Create")
    </p>
    <div class="index-table" style="margin-bottom: 3em;">
        <table>
            <tr>
                <th>
                    Vehicle type
                </th>
                <th>
                    Default fee
                </th>
                <th></th>
            </tr>
            <tr ng-repeat="vehicleType in data track by $index">
                <td>
                    {{vehicleType.Type}}</
                </td>
                <td>
                    {{vehicleType.Fee | number:2}} :-
                </td>
                <td>
                    <a href="/VehicleTypes/Edit?id={{vehicleType.ID}}">Edit</a> |
                    <a href="/VehicleTypes/Details?id={{vehicleType.ID}}">Details</a> |
                    <a href="/VehicleTypes/Delete?id={{vehicleType.ID}}">Delete</a>
                </td>
            </tr>
        </table>
    </div>
</div>
