@{
    ViewBag.Title = "Vehicle Types";
}

<div ng-app="vehicleTypes" ng-controller="vehicleTypesController">
    <div class="jumbotron" ng-init="getData()">
        <h2>Vehicle Types</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table>
            <thead>
                <tr>
                    <th>Vehicle type</th>
                    <th>Default fee</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="vehicleType in data track by $index">
                    <td>{{vehicleType.Type}}</td>
                    <td>{{vehicleType.Fee}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>