@model MVCGarage.ViewModels.Vehicles.SelectAVehicleVM

@{
    ViewBag.Title = "Check In A Vehicle";
}
<div class="header jumbotron">
    <h1>Please select a vehicle to check in</h1>
    <hr />
    <p>This is where you select the vehicle you would like to check in</p>
    <p style="color:red">@Model.ErrorMessage</p>
</div>

<p style="font-size: 3em; text-align: center; color: white;">
    @Html.ActionLink("Add a new vehicle",
                     "Create",
                     new MVCGarage.ViewModels.Vehicles.CreateVehicleVM
                     {
                         OriginActionName = "CheckInVehicle"
                     })
</p>

@using (@Html.BeginForm())
{
    @Html.Partial("_SelectAVehiclePartial", Model)
}
