<div ng-app="vehicles" ng-controller="vehicleController" ng-init="getOwners()" style="margin-bottom: 3em;">
    <div class="jumbotron header">
        <h1>Learning Angular with WebAPI</h1>
        <hr />
        <p>Register a new vehicle</p>
    </div>

    <form>
        <div>
            <input required type="text" id="name" placeholder="Enter the Reg. Plate number" ng-model="vehicleRegistrationPlate" style="width:450px" />
        </div>
        <div ng-init="getOwners()">
            <select ng-model="selectedOwner" required>
                <option ng-repeat="owner in ownerData track by $index" value="{{owner.ID}}">{{owner.Fname}}</option>
            </select>
        </div>

        <div ng-init="getVehicleTypes()">
            <select ng-model="selectedVehicleType" required>
                <option ng-repeat="vehicleType in vehicleTypes track by $index" value="{{vehicleType.ID}}">{{vehicleType.Type}}</option>
            </select>
        </div>
        <button ng-click="sendData()">Send Data</button>
    </form>
</div>
